.zr-ajax-form{
    position: relative;
    min-height: 100px;
    .zr-form-disabled{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        cursor: not-allowed;
        z-index: 100;
        background-color: rgba(245, 245, 245, 0.4);
    }
}