@import "./zr.variables.less";

.zr-status(@color: @zr-color-default){
    &>.zrfi-body{
        border-color: @color;
        color: @color;
        opacity: 0.8;
    }
}

.zr-form-item{
    display: flex;
    flex-direction: column;
    margin: 3px 0px;
    padding: 6px;
    box-shadow: none;
    transition: all 0.3s;

    &:hover{
        color: #3498db !important;
        background-color: #FFF;
        border-radius: 2px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
        /*box-shadow: 0 6px 12px rgba(0,0,0,.175)!important;*/
        .title{
            font-weight: bold;
        }
    }

    &.row{
        flex-direction: row;
    }
    &.column{
        flex-direction: column;
        .title{
            text-align: left !important;
        }
    }

    

    /*
    &.default{
        .zr-status(@zr-color-default);
    }*/

    &[data-status="primary"]{
        .zr-status(@zr-color-primary);
    }

    &[data-status="success"]{
        /*.zr-status(@zr-color-success);*/
    }

    &[data-status="info"]{
        .zr-status(@zr-color-info);
    }

    &[data-status="warning"]{
        .zr-status(@zr-color-warning);
    }

    &[data-status="error"]{
        .zr-status(@zr-color-danger);
        &>.zrfi-body{
            box-shadow: 0 0 6px #dcd2d2;
            -webkit-animation-name: shineRed;
            -webkit-animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
            @-webkit-keyframes  shineRed {
                from { -webkit-box-shadow: 0 0 5px #dcd2d2; }
                50% { -webkit-box-shadow: 0 0 10px @zr-color-danger; }
                to { -webkit-box-shadow: 0 0 5px #dcd2d2; }
            }
        }
    }

    &>.zrfi-header{
        display: flex;
        align-items: center;
        padding-bottom: 3px;
        &>.title{
            position: relative;
            text-align: left;
            line-height: 24px;
            padding-right: 12px;
            font-weight: 500;
            white-space: pre-wrap;
            word-break: break-all;
        }

        &>.icon{
            text-align: center;
            min-width: 2rem;
            margin: auto;
        }
    }

    &>.zrfi-body{
        position: relative;
        flex: 1;
        font-weight: 200;
        font-size: 16px;
        min-height: 34px;
        border-radius: 3px;
        color: #616161;
        input, textarea, select, &.input{
            border: 1px solid#d8d8d8; //#f1eded;
            &:focus{
                outline: 0;
                border-color: #40a9ff;
                -webkit-box-shadow: 0 0 0 2px rgba(24,144,255,.2);
                box-shadow: 0 0 0 2px rgba(24,144,255,.2);
            }
        }

        input, select, &.input{
            min-height: 34px;
        }

        textarea {
            min-height: 80px;
        }

        & > .suffix{
            position: absolute;
            right: 0px;
            min-width: 32px;
            line-height: 30px;
            text-align: center;
            background-color: transparent;
        }
        
    }

    .item-value{
        color: #ababab;
        font-family: monospace;
        line-height: 20px;
    }

    .zrfi-hint{
        margin: 3px 0px;
        padding: 1px 3px;
        font-size: 10px;
        color: #ff9800;
        .info-icon{
            width: 10px;
            height: 10px;
            margin-right: 3px;
        }
    }

    .error-message{
        width: 20px;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
    }

    input, textarea, button {
        -webkit-appearance: none;
    }

    input, textarea, select, &.input{
        background-color: transparent;
        width: 100%;
        line-height: 24px;
        border: none;
        &:focus, &:active{
            color: #111;
        }
        &.align-left{
            text-align: left;
            .input{

            }
        }
        &.align-right{
            text-align: right;
        }

        &:focus{
            background-color: #fafaf9;
            color: #222222;
        }

    }


    &[data-required=true]{
        .title::after{
            position: absolute;
            top: 2px;
            right: 1px;
            content: "*";
            font-size: 24px !important;
            color: rgba(206, 17, 10, 0.5);
        }
    }

    textarea{
        min-height: 12rem;
    }
}
