.zr-form-title{
    text-align: center;
    border-top: 1px solid #eeeeee;
    margin: 20px 6px;
    .zf-title{
        position: relative;
        top: -12px;
        background-color: #FFF;
        border-radius: 2px;
        z-index: 1;
        padding: 0px 5px;
        font-weight: bold;
        word-break: break-word;
    }
}
